<!DOCTYPE html>
<html lang="en">


{% load static %}

<head>
  <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CRMYN5HHKV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CRMYN5HHKV');
</script>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>IF Taxi & Kurierdienst</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'polls/assets/img/favicon2.png' %}" rel="icon">
  <link href="{% static 'polls/assets/img/logo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'polls/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'polls/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'polls/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'polls/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'polls/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'polls/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'polls/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'polls/assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="">IF Taxi & Kurierdienst</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo me-auto"><img src="polls/assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a  href="{% url 'polls:index' %}">Home</a></li>
          <li><a  href="{% url 'polls:index' %}">Über uns</a></li>
          <li><a href="{% url 'polls:index' %}">Unsere Dienstleistungen</a></li>



          <li><a href="{% url 'polls:index' %}">Kontakt</a></li>
          <li><a class="getstarted scrollto"  href="callto:017623236829">Anrufen</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->



  <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Impressum</h2>

        </div>

        <div class="row">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Adresse:</h4>
                <p>Auf der Hegge 25, 49090 Osnabrück</p>
              </div>


              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email: </h4>
                <p><a href="mailto:kontakt@if-taxi.de">kontakt@if-taxi.de</a></p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Anruf: </h4>
                <p><a href="callto:004917623236829">0176 2323 6829</a></p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2438.667912220541!2d7.989518915920376!3d52.322028258634006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b9e77ff124d779%3A0x1f19b17bed842eb6!2sModern%20App%20Development!5e0!3m2!1sde!2sde!4v1658542062204!5m2!1sde!2sde" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>




          <!--START CONTACT FORM-->


             <div class="col-lg-5  d-flex align-items-stretch">
            <form action="" method="post" role="form" class="php-email-form">

               <div class="form-group">
                <label for="name">Geschäftsführer: Qasad Rana</label>

              </div>
              <div class="form-group">
                <label for="name">Handy: +49 (0) 176 2323 6829</label>

              </div>

              <div class="form-group">
                <label for="name">IBAN: DE59110101002081396283</label>

              </div>

              <div class="form-group">
                <label for="name">BIC: SOBKDEBBXXX</label>

              </div>

            </form>
          </div>








          <!-- END CONTACTFORM-->



        </div>

      </div>
    </section><!-- End Contact Section -->






  <!-- ======= Footer ======= -->
  <footer id="footer">



    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>IF Taxi und Kurierdienst</h3>
            <p>
              Auf der Hegge 25 <br>
              49090 Osnabrück<br>
              Deutschland <br><br>
              <strong>Phone: </strong><a href="callto:017623236829">017623236829</a><br>
              <strong>Email: </strong><a href="mailto:kontakt@if-taxi.de">kontakt@if-taxi.de</a><br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Nützliches</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'polls:index' %}">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'polls:index' %}">Kontakt</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'polls:index' %}">Über Uns</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'polls:index' %}">Dienstleistungen</a></li>

              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'polls:datenschutz' %}">Datenschutzerklärung</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Unsere Dienstleistungen</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'polls:index' %}">Flughafentransfer</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'polls:index' %}">Krankenfahrten</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'polls:index' %}">Kurierfahrten</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'polls:index' %}">Rechnungsfahrten</a></li>

            </ul>
          </div>



        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>IF Taxi & Kurierdienst</span></strong>. Alle Rechte vorbehalten
      </div>

    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="https://wa.me/4917683339707" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-whatsapp"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'polls/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'polls/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'polls/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'polls/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'polls/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'polls/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'polls/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'polls/assets/js/main.js' %}"></script>

</body>


</html>